@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F9F6EE;
}

.unit-header {
    display: flex;
    align-items: center;
}

.go-back {
    font-size: 1.2em;
    padding: 0.5em;
}

.go-back:hover {
    background-color: rgb(0, 119, 255);
}

.unit-title {
    color: #000;
    font-family: 'Raleway';
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    justify-self: start;
}

.notes {
    width: 90%;
    border-radius: 16px;
    background: #DBD7CC;
    box-shadow: 9px 10px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 3em;
}

.notes-header > h2 {
    color: #000000;
    font-family: 'Roboto Condensed';
    font-size: 44px; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.notes-content {
    color: #000;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 200;
    font-weight: light;
    line-height: normal;
}

.notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-header-buttons {
    display: flex;
    justify-content: space-between;
    width: 10em;
    margin-right: 2em;
}

.note-edit, .note-delete, .note-add, .go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 12px;
    background: #FF6F6F;
    
}

.note-edit > a, .note-delete > a, .note-add > a, .go-back > a {
    color: #DBD7CC;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;    
}

.note-edit:hover, .note-delete:hover, .note-add:hover, .go-back:hover {
    background-color: #a84747;
    transition: 200ms;
}

a {
    text-decoration: none;
    color: black;
}

.note-add {
    padding: 1em;
}

.go-back {
    position: absolute;
    top: 1em;
    left: 2em;
}
