@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F9F6EE;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

h3.form-field {
    color: #000000;
    font-family: 'Roboto Condensed';
    font-size: 44px; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

input.form-input {
    border: none;
    border-radius: 12px;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #00000074;
    margin-top: 0.5em;
}

input.form-input:focus {
    border: 1px solid #000000;
}

textarea.form-textarea {
    border: none;
    border-radius: 12px;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 200;
    cursor: pointer;
    border: 1px solid #00000074;
    resize: none;
    height: 10em;
}

.form-title {
    color: #000;
    font-family: 'Raleway';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    justify-self: start;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 12px;
    background: #FF6F6F;
    color: #DBD7CC;
    font-family: 'Roboto Condensed';
    font-style: normal;;
    text-transform: uppercase;  
    width: 10em;  
}

.submit:hover {
    background-color: #be5050;
}
